services:
  redis:
    image: redis:7-alpine
    container_name: basic-http-scheduling-redis
    restart: unless-stopped
    command: redis-server --appendonly yes --appendfsync everysec --requirepass ${REDIS_PASSWORD}
    expose:
      - 6379
    volumes:
      - redis_data:/data
    networks:
      - monitoring
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: basic-http-scheduling:latest
    container_name: basic-http-scheduling-app
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - 8080
    networks:
      - monitoring
    labels:
      - traefik.enable=true
      - "traefik.http.routers.http-scheduler.rule=Host(`${WEBHOOK_HOST}`)"
      - "traefik.http.routers.http-scheduler.tls=true"
      - "traefik.http.routers.http-scheduler.tls.certResolver=lets-encrypt-ssl"
    depends_on:
      redis:
        condition: service_healthy


volumes:
  redis_data:
    driver: local

networks:
  monitoring:
    name: monitoring_monitoring
    external: true
